{% extends 'base.html' %}

{% block title %}{{ url[1] }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ url[1] }}</h1>
    <table class="table table-bordered" data-test="url">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ url[0] }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ url[1] }}</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>{{ url[2] }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}